# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# HTML à ignoré
/beautyhouse
/src/404.html
/src/about-us.html
/src/blog-details.html
/src/blog.html
/src/contact-us.html
/src/index-box-fixed.html


/src/js



# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
